<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <h2 class="card-title text-center">Change your password </h2>
        <div class="card-body py-md-4">
          <form _lpchecked="1">                   
            <div class="form-group">
               <%= f.password_field :password, class: "form-control", id: "new-password", placeholder: "Password", autocomplete: "new-password" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, class: "form-control", id: "new-password", placeholder: "Confirm Password", autocomplete: "new-password" %>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-between">
                <%= f.submit "Change my password", class: "btn devise-btn btn-primary" %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>